/* #Special Styles
================================================== */
.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.no-bg {

}
.tiny-text {
	font-size: 11px;
}
.small-text {
	font-size: 12px;
}

.meta {
		color: #87878e;
}

.meta-title {
	color: #83b25b !important;
	text-transform: uppercase;	
}

.panel .meta-title  {
	text-shadow: -1px 1px #fff;
}

/* #Page Styles
================================================== */

body {background: #f9f5f2;}



/* #Search Styles
================================================== */
.filter-box {
	margin: 20px auto;
	background: #dde6f4 !important;
	border: 1px solid #e9e9e9

}

.filter-toggle {
	margin-bottom: 20px;
	height: 10px;
	font-size: 12px;

}
.filter-box  h3 {
	font-size: 1.2em;
	padding:7px 0 0 5px;
	margin-bottom: 10px;	
	background: #fff;
	

}
.filter-header {
	line-height: 30px;
	margin-bottom: 10px !important;


}

.filter-box .search-box {
	margin-right: 5px;
}

.filter-tickets li {
 list-style-type: none;
}


.filter-keywords .search-box,
.filter-locations .search-box {
	width: 150px !important;
}


/* #Pagin Styles
================================================== */
.paginRight {
	 float: right;
    line-height: 35px;
}
.sortby,
.e_sortby {
	display: inline-block;	
}
.e_sortBy {
	width: inherit;
}

/* #Ticket Styles
================================================== */

.featured-project {
	margin-top: 70px;
	min-height: 200px;
}

.featured-project .button {
	margin-right: 20px;
}

.fancy-box {
	background: white;
	border: 1px solid #e9e9e9;	
	box-shadow: 0 0px 0 3px #e9e9e9;
	border-radius: 2px;	
}

.fancy-box:hover {
	box-shadow: 0 0px 0 3px #cdcdcd;
	border: 1px solid #fff;	
	-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;

}

.ticket {	
margin: 10px 0; 
min-height: 380px;
	
}

.ticket .basic_info {
	background: #f6f6fa;
	border: 1px solid #fff;

}

.ticket-title
 {
	font-size: 14px;	
	display: block;
	line-height: 21px;
	padding: 5px 0 0 0;
	margin: 0 0 0 10px;	
}
.ticket p {
	margin: 0 0 0 10px;
}

.ticket .basic_info p {
	padding: 10px 0;
}


.ticket img {
	margin: 0 10px;
}

.ticket hr {
	margin: 0;
	padding: 0;
}

.ticket-description p {
	font-size: 12px;
	padding: 0 10px;
	margin: 15px 0 15px 0;

}

.ticket-skills {
	margin: 0 10px;
	text-transform: uppercase;
	
}

.ticket-skills li {
	display: inline-block;
	list-style-type: none;
}


.bottom-section {
	position: absolute;
	bottom: 0;
	width: 300px;
}
.ticket-profiles ul {
}

.ticket-profiles li {
	list-style-type: none;	
}

.meta-btns {
	position: absolute !important;
	
}
.meta-btns p {
	display: inline-block;
	
}


.ticket .profile-img {
	width: 24px;
	height: 24px;
	margin: 0;
	float: left;
}

.ticket-meta-icons {
	display: inline-block;
	line-height: 0;
	margin: 0;
}

.ticket-meta-icons li {
	display: inline-block;

}

.ticket-goto-details {
	padding: 19px 20px 20px 21px !important;
	margin: 0 !important;
	border: none !important; 
}

.ico-tiny-img,
.ico-tiny-video,
.ico-tiny-description,
.ico-tiny-attachment {
	width: 16px;
	height: 17px;	
	/*border-right: 1px solid #e9e9e9;*/
}

.ico-tiny-img {
	background: url(img/ico-tiny-img.png) no-repeat;
}

.ico-tiny-video {
	background: url(img/ico-tiny-video.png) no-repeat;
}

.ico-tiny-description {
	background: url(img/ico-tiny-description.png) no-repeat;
}

.ico-tiny-attachment {
	background: url(img/ico-tiny-attachment.png) no-repeat;
}

.ticket-no-item {
		background-position: 0 -52px;
}
.ticket .meta_tags ul {
	margin: 0 0px;
}

.ticket .tags {
	
	text-transform: uppercase;

}
.ticket .meta_tags ul li {
	display: inline-block;
	font-size: 12px;
}

.ticket .meta_tags ul li a {
	background: 
}

/*** sidebar search ***/

.sidebar_search {
	width: 220px;
	height: 100px;	
margin-left: -220px;
float: left;
}

.main {
padding-rigth: 220px;
}





.footer_links ul li {
	display: inline-block;

}
.footer_links ul li a {
	padding: 10px 20px;
	font-size: 12px;
}
.footer_links ul li a:hover {
	text-decoration: underline;

}


/*******  filterbar 
-------------------------
************************/



.filterbar {
	 position:absolute;
  top:45px;
  left:0;
  width:220px;
  overflow: hidden;
  padding-right: 20px;
  height:100%;
  margin-right: 20px;
  background: #fff;
  margin-right: 20px;

}

 @media screen{
  body>div#left-sidebar{
   position:fixed;
  }
 }
 * html body{
  overflow:hidden;
 } 
 * html div#content{
  height:100%;
  overflow:auto;
 }






/* Styles for screens that are smaller than 768px; */
@media only screen and (max-width: 48em) {
	
	.filterbar {
		position: relative;
	}


 }







