/*#intro{
	
	margin: 0 auto;
	padding: 0;
}

#outro{
	background:url(../images/outro-bg.jpg) 50% 0  fixed;
	margin: 0 auto;
	padding: 0;
}
*/

body {
	background: #f2f2f2;
		height: 100%;
}




.header-wrap {
	background: url(../images/header-wrap_bg.png);	
	background: #FFF;
	
	background-attachment: fixed;
}


.header h1{
  margin:0px 0px !important;
  color:#888;
  text-shadow: 1px 1px 2px rgba(0,0,0,.3);
  
  line-height: 0;
  padding-top: 10px;
}


h1 span{
  color:#89b561;
}



.header .logo{
  vertical-align: middle; 
  height:70px;  
  margin-left: 10px;
  margin-bottom: 15px; 

}


.el-msg-alert {
	background: #C64747;
	color: #fff;
	padding: 1px 5px 2px 5px;
	font-size: 0.8em;
	border-radius: 100%;
	border: 2px solid #fff;;
	box-shadow: none;
	position: absolute;
	line-height: 1.4em;
	left:32px;
	top:9px;
	}


.icon-msg-alert{
	color: #888;
	font-size: 1.5em;

}

.el-msg-alert-mobile {
	background: #C64747;
	color: #fff;
	padding: 1px 7px 2px 7px;
	font-size: 0.8em;
	border-radius: 100%;
	border: 2px solid #fff;;
	box-shadow: none;
	position: absolute;
	left: 13px;
	bottom:3px;	
	line-height: 1.4em;
	
	}




/* ==========================================================================
  @ INTRO
   ========================================================================== */


.m-event {

	background: url(../images/event_bg.jpg) center center;	
	
	overflow: hidden;


}



.intro{
background: url(../images/custom_bg.jpg) center center no-repeat;	
    margin-bottom: 40px;
}



.intro h1,
.intro h2 {
  color:#444 !important;
}

.intro .big-text {
	 font-size:3.5em;
	 line-height: 140%;
	 color:#666;     
}


.intro .icon-rocket,
.intro .icon-user {
	font-size: 3em;	
}

.intro .big-text .alt-1 {
	font-weight: bold;
	line-height: 80%;
}

.intro .alt-3{
  	color:#67913F;
	border-top: 2px solid #555;
	border-bottom: 2px solid #555;
	font-size: 1.2em;
	padding: 10px 0;
	font-weight: bold;
	line-height: 100%;
}

.intro .alt-4 {
	font-weight: bold; text-transform: uppercase; margin-bottom:0;
font-weight: bold; text-transform: uppercase; margin-bottom:0;
}

.intro .call-to { 
	color: #67913F;
	font-weight: bold;
}

.intro p{
  text-align:left;   
  text-shadow: 0px 1px rgba(255,255,255,0.1);
  display: inline-block;
}	



.intro > .row {
	margin-bottom: 30px;
}
.intro .button {
margin-right: 20px;
}


.toggle_search {
	margin-right: 25px;
	margin-top: 6px;
}

.exp_srch {
	margin-right: 26px;
	margin-top: 5px;
}

.reset-btn {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.extra_detail {
	margin-top: 22px;
}

.profile-info{
  /*margin-top:20px;*/
  margin-bottom:15px;
  color:#444;
  font-size: 0.8em;
  margin-top: 0;
}

.profile-info .progress{
  margin-top: 5px;
}

.profile-info p {
	margin-bottom: 0.3em;
}

.top-bar{
  margin-bottom: 0px; 
  z-index: 10;
}

/* ==========================================================================
   @ login
   ========================================================================== */

.login-form .row{
  margin-bottom: 5px;
  
}
.login-form .row.submit{
  margin-bottom:10px;
  text-align: right;
}

/* ==========================================================================
  @ Front page - card person
   ========================================================================== */



.card-person{
  padding-left: 13px;
  padding-right: 13px;
  min-height: 255px;
  border-radius: 3px;
}

.card-person hr, .m-card hr{
  margin-top:5px;
  margin-bottom:0.9375em;
}

.card-person p, .m-card p{
  margin-top:5px;
  margin-bottom:5px;
}

.card-person-title {
  padding-top:0.35em; 
  padding-bottom:0.35em; 
  margin-bottom: 0.5em !important;
  border-bottom:1px solid #ddd; 
  background-color:#f9f9f7;
  }


.card-person table .icons {
	width: 15px;
	text-align: center;
}

.card-person table td {
 	padding: 4px 10px;
}

.card-person table .icons .icon-awesome {
	color: #444;
	font-size: 1.2em;
	background: #fff;	
}



  .card-person-title {
  	background: #f9f9f7;
  }

div[onclick].panel,
div[onclick].card-person-title, div[onclick].m-card-title{
  cursor: pointer;
}


.card-person, .m-card, .fancy-border {
  /*margin-right:0.9375em; */
  
  background-color: #FFF;
  border: 1px solid #fff;
  /*box-shadow: 0 0 0 1px #fff, 0 0 0 2px #bbbbbb, 0 0 0 3px #ddd, 0 0 0 4px #ddd;*/
  box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px #DDDDDD, 0 12px 6px -9px #777777, 0 -3px 7px rgba(0,0,0,0.1);
  
}

.card-person-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #F9F9F7;
	border-top: 1px solid #ddd;
	padding: 13px 10px 10px 10px;
	right: 0;
	
}

.card-person-footer .left {
  left: 10px;
  padding-top: 2px;
  padding-left: 10px;
}

.card-person-footer .right {
	right: 0px;
}





/****** @ searchpanel ******/

.searchpanel .edit-header {
	margin: 0;
	padding: 0;
}
.searchpanel {
	margin:0 auto;	
	color: #fff !important;	
	
	
}	

.searchpanel .search_content {
	
	padding: 15px 0 20px 0;
	/*z-index: 1;	*/
	
	color: #794a93;	
}


/* $card general */
/*****************/


.card-content .meta_tags .label {
	padding: 3px;

}


.card-content .card-floater .button {
	padding-bottom: 5px;
}


/* $card-person */
/*****************/
.card-person .card-abstract {
	margin: 5px 0; 
	
}

.card-person .label {
	box-shadow: none;
}

.card-person a .label {
    margin-bottom: 1%;
}


.card-person .card-person-title .th-medium {
	border: 1px solid #fff;
	box-shadow: 0 0 0 1px #ddd;
	border-radius: 2px; 
	border-radius: 3px;
}


.card-person .card-person-title .columns {
    display: table !important;
    
}

.card-person .card-person-title h5 {
margin-bottom: 2px;
    }


.card-person .card-content {
	position: relative;
	
	
}

.card-person .card-content .card-floater {
	height: 20px;
	
	position: relative;

}

.card-person .card-floater .button {
	position: absolute;
	bottom: -10px;
	right: 0;
}



sidebar .section-container section,
sidebar .section-container .section,
sidebar .section-container.auto section,
sidebar .section-container.auto .section {
	border: none;
}




.sidebar {	
	border-radius: 3px;
	border-top: none;
	
}


.sidebar .side-nav li a {
  color: inherit;
  font-size: 1.2em;
  padding: 0.3em 0;
}



.sidebar .general,
.sidebar .icon-user,
.sidebar .icon-flag,
.sidebar .icon-lightbulb,
.sidebar .icon-wrench,
.sidebar .icon-awesome {
	color: #444;
	text-shadow: 1px 1px rgba(255,255,255,0.3);
	font-size: 1.1em;
	padding-right: 10px;	
	margin-right: 15px;
	margin-bottom: -5px;		
	line-height: 0;
}


.magellan {width: 240px}

  .magellan {position: static !important; width: 100%}


.sidebar-wrap .edit-content {
	border-radius: 3px;
	overflow: hidden;
}

.ideas-aside {
	padding: 0 !important;
}

.ideas-aside .idea-new {
	line-height: 50px;
	padding: 0 10px;
	display: block;
	text-align: center;
}

.sidebar-wrap .accordion .ideas-aside .button {
	margin-bottom: 0;
}

.ideas-aside .idea-each:hover,
.ideas-aside .idea-new:hover {
	background: #e9e9e9;

}

.ideas-aside .icon-awesome {
	margin-left: 10px;
}

.ideas-aside .idea-each .idealist {
	display: block;
	padding: 10px;
	border-top: 1px solid #ddd;
	position: relative;
	font-size: 0.75em;
	color: #444;

}

.ideas-aside .idea-each p {
	margin-bottom: 0;
}

.ideas-aside .idea-each .meta-wrap {
	
}
.ideas-aside .idea-each .meta {
	line-height: 20px;
	padding: 0 0 0 10px;
	font-size: 0.5em;
}

.ideas-aside .idea-each .right {
	margin-right: 10px;
}


.advance{
  /*display:none;*/
}
	


/* ==========================================================================
   internal pages
   ========================================================================== */

.wrapped-content {
	background: #fff;	
	border-radius: 4px;
	padding: 10px 20px 50px 20px;
	margin-bottom: 50px; 	
 }


.item {
	
	margin-bottom: 15px;
	padding-bottom: 5px;
}

 

/****** @font ******/

.main .item {
	font-size: 1em;
}

.main h3,
.f-boldup
{

    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
      


}

.side-profile {
	font-size: 0.8em;
}


.side h4,
.main h4,
.panel-top h4 {	
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600 !important;	
}



/* ==========================================================================
  @ about page
   ========================================================================== */

.about .side {
	margin-top:  80px;
}


/* ==========================================================================
   @ edit profile
   ========================================================================== */

.hint-alert {
	margin-top: 50px;
}

.hint-alert .alert-box .button {
 margin-left: 20px;
}

.linkList li {
	list-style-type: none;
	margin-bottom: 10px;
}

.profile-skils {
 	margin-bottom: 10px;

}

.skill-industry {
	display: block;
	width: 100%;	
	margin-top: 4px;
	padding: 2px 0 0 0;
	color: #000;
	border-top: 1px solid rgba(255,255,255,0.2);
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 7px;
}

.edit-header {
   
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 0 0;
    margin-bottom: -1px;
    padding: 10px;
     background-color: #F9F9F7; /* Old browsers */
background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

.edit-header > .button,
.edit-header .abtn {
	position: absolute;
	right: 10px;
}


.settings-title { 
	
	line-height: 1.3em;
	font-size: 1.1em;
	text-transform: lowercase;
	font-weight: bold;
	margin: 0 -13px 0 -13px;
	padding: 4px 10px;
	border-bottom: 1px solid #ddd;
	background: #f9f9f7;	
}

.edit-header h3,
.edit-header h1 {
	
	margin: 0;
	color: inherit;
	font-weight: normal;
	font-size: 1.4em;
	display: inline-block;
}



.edit-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 4px 4px;
    margin-bottom: 1.25em;
    padding-top: 20px;
    padding-bottom: 20px;

}

.sidebar-wrap .accordion {
	padding-top:  0;
	padding-bottom: 0;
}

.sidebar-wrap .profile-info {
	  padding-top: 20px;
  padding-bottom: 20px;
}

.label.label-collaboration {
	
	background: #fff;
	padding-top: 1em;
	padding-bottom: 1em;
	transition: 0.2s;
	color: inherit;
	border: 1px solid #ddd;
	border-radius: 3px;
	
	border-top:2px solid #888;
}




.available p,
.collaboration p {
	margin-top:  20px;
	margin-bottom: 0; 
}

.person-details .about-me .card-avatar {
	width: 36px;
	height: auto;
}

.edit-content > .panel {}

.edit-floater{
  float:right;
  margin-top:15px;

}


.add-skills .edit-floater {
	float: none;
	margin-bottom: 10px;
}

.preview   {
	float: right;
	margin-top: 0;
}



.edit-floater .button{
  margin-bottom: 12px;
}





.login-floater{
  float:right;
}



img.card-avatar,
.mini-avatar {
	height: 24px;
	border-radius: 2px;
	position: static;
	border-radius: 3px;
}

.card-avatar, .card-icons{
  height:26px; 
  margin-right:5px;
}

.card-icons{
  float:right;
}

#image {
	margin-bottom: 30px;	
	margin-top: 16px;
}

#image .secondary {
	margin-top: 20px;
}


#UserEdit_bio {
    min-height: 100px;
}


/* #Normalize, Resets
================================================== */

ul, ol {
	list-style-position: inside;
}


/* #Special Styles
================================================== */

.status-high.icon-circle {
	font-size: 0.6em;
	color: #89B561;
}

.status-medium.icon-circle {
	font-size: 0.6em;
	color: #CCC950;
}

.status-low.icon-circle {
	font-size: 0.6em;
	color: #999999;
}



.topright {
    position: absolute;
    top: 0;
    right: 5px;
}

.minwidth200 {
	min-width: 200px;
}

.altbg {background: #F9F9F7;}
.top {
	margin-top: 0 !important;
}

.th-small {height:40px; margin-right: 10px; float:left; }

.th-medium {
	height:64px; margin-right: 10px;
	float:left; 
}

.success-gradient.button {
	background: rgb(200,249,134); /* Old browsers */
	border: 1px solid  rgb(200,249,134); /* Old browsers */
background: -moz-linear-gradient(top, rgba(200,249,134,1) 0%, rgba(120,150,81,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,249,134,1)), color-stop(100%,rgba(120,150,81,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(200,249,134,1) 0%,rgba(120,150,81,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(200,249,134,1) 0%,rgba(120,150,81,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(200,249,134,1) 0%,rgba(120,150,81,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(200,249,134,1) 0%,rgba(120,150,81,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8f986', endColorstr='#789651',GradientType=0 ); /* IE6-9 */
}


.expose {
	/*background:*/ 
}


.fancy.panel {
	box-shadow: 0 12px 5px -10px rgba(0, 0, 0, 0.7);

}




.link-icon {
	margin-bottom: 4px; 
}

.ml8 {
	margin-left: 8px;
}

.ml10 {
	margin-left: 10px;
}

.ml20 {
	margin-left:  20px;
}

.ml40 {
	margin-left:  40px;
}


.ml8 {
	margin-left: 8px;
}


.btop {
	border-top: 1px solid #ddd;
}

.bb {
	border-bottom: 1px solid #ddd;
}

.bb-strong {
	border-bottom: 1px solid #bbb;
}

.ball {
	border: 1px solid #ddd;	
}

.header-margin{
  margin-top:40px;  /* nastavljeno pri vseh straneh, če ni so strani potisnjene pod  bomo odmaknili ko gremo ven iz bete*/
}

.help {
    background: none repeat scroll 0 0 #E5E8EE;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px #DDDDDD, 0 2px 2px rgba(0, 0, 0, 0.4);
    color: #888888;
    font-weight: 600;
    line-height: 0;
    padding: 2px 6px;
    font-size: 12px;

}


.clearbox {
	clear: both;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.no-bg {

}
.tiny-text {
	font-size: 11px;
}
.small-text {
	font-size: 0.8em;
}

.meta {
		color: #888 !important;
}


.label .close {margin-left:10px;}

.anchor-link{
  position: absolute; 
  top:-60px;
}


.footer{
  
   position: relative;
  /*border-top: 1px solid #ddd; */
  background-color: #333; 
  border-top:1px solid #111;
  padding-top: 30px;
  border-top: 5px solid #89B561;
  text-align: center;
}


.footer ul.footer-links {
    display: inline-block;
    margin: 0;
}

.footer ul.footer-links li {
    display: block;
    float: left;  
    margin-left: 30px;
    text-transform: uppercase;
}

.footer ul.social-links {
    display: block;
    float: right;
    margin-bottom: 8px;
}

.footer ul.social-links li {
    display: block;
    float: left;
    list-style: none outside none;
    margin-left: 10px;
}



.footer-links .inline-list {
		margin-top: 1em;

}



.footer-links .inline-list a {
	margin-left: 20px;
}


.footer a {
	color: #89B561;
	font-size: 0.8em;

}

.footer a:hover {
	color: #89b561;
}

.footer img.logo-mini {
	/*position: absolute;*/
	transition: 0.3s;
	opacity: 0.85;
	/*top:-17px;*/
}

.footer img.logo-mini:hover {
	opacity: 1;
}


.footer .social-links{
  float:right;
  margin-left:40px;
  padding-top:8px;
}

.footer .social-links img{
  margin-right:3px;
	transition: 0.3s;
	opacity: 0.75;
}

.footer .social-links img:hover{
  opacity: 1;
}

.list-holder, .list-items{  
  position: relative;
}

.page-navigation{
  position: fixed; 
  left:20px; 
  top:60px; 
  width:100px; 
  padding-left:20px;
  display: none;
}


#recent_projects .page-navigation {


    background: #efefef;
    position: fixed !important;
    left: 0px !important;
    padding-left: 20px;
    padding-top: 40px;
    bottom: 0 !important;
    padding-right: 10px;
    width: 120px !important;
    top: 47px !important;
    z-index: 0 !important;
    border-right: 1px solid #ddd;

}





.main-quote{
  background-color: #88B460; 
  margin-top:60px; 
  color:#fff;
  padding: 20px 0 30px 0; 
  border-top: 1px solid #ccc;
  border-top: 5px solid #79965E;

}
.main-quote h2 {
	color: #fff;
}

.main-quote blockquote{
  font-style: italic;
  color:#fff;
  padding-left: 30px;
  border-left: 1px solid #fff;
}

/* #login PAGE
================================================== */
.loginbox {
	margin-top: 50px;	
}


.loginbox .logo-mini {
	float: left;
	margin-left: 10px;
	margin-top: 20px;

}

.loginbox h1 {
	float: left;
	text-align: center;
	color: #46215A;
}


.loginbox .rememberMe input {
	float: left;
	margin-right: 10px;
	

}

.loginbox .hint a {}

.loginbox .button {
	margin: 10px 0 0 0px;
}
.loginbox .button input
 {
 	float: left;
 	background: none;
 	padding: 0;
 	margin: 0;
 	border: 0;
 	color: #fff;
 	text-shadow: none;

 }


.block {
	display: block;
}

.radius-all {
	border-radius: 3px !important;
}

.mr5 {
	margin-right: 5px;
}

.mr15 {
	margin-right:  15px;
}



.mr8 {
	margin-right: 8px !important;
}

.mr10 {
	margin-right:  10px !important;
}

.mr20 {
	margin-right:  20px !important;
}


.mr40 {
	margin-right:  40px !important;
}
.mr60 {
	margin-right:  60px !important;
}

.mb0 {
	margin-bottom: 0 !important;
}

.mb8 {
	margin-bottom: 8px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}

.mb5 {
	margin-bottom: 5px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.ml5 {
	margin-left: 5px !important;
}

.ml50 {
	margin-left: 50px !important;
}

.ml60 {
	margin-left: 60px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mt20 {
	margin-top: 20px !important;;
}

.mt40 {
	margin-top: 40px !important;;
}

.mb20 {
	margin-bottom: 20px !important;;
}

.mb40 {
	margin-bottom:40px !important;;
}

.mb60 {
	margin-bottom:60px !important;;
}


.pr10 {
	padding-right: 10px !important; 
}

.pr15 {
	padding-right: 15px !important; 
}

.pr20 {
	padding-right: 20px !important; 
}

.pb0 {
	padding-bottom: 0 !important;
}

.pb10 {

	padding-bottom: 10px !important;;
}

.pb15 {

	padding-bottom: 15px !important;;
}

.pb20 {

	padding-bottom: 20px !important;;
}



.pt0 {

	padding-top: 0px !important;
}


.pt10 {

	padding-top: 10px !important;
}

.pt20 {

	padding-top: 20px !important;
}

.pt40 {

	padding-top: 40px !important;
}

.pt60 {

	padding-top: 60px !important;
}
.pall5 {
	padding: 5px;
}

.pall125em {
	padding: 1.25em;
}


/* #Pagin Styles
================================================== */
.paginRight {
	 float: right;
    line-height: 35px;
}
.sortby,
.e_sortby {
	display: inline-block;	
}
.e_sortBy {
	width: inherit;
}

/* #Ticket Styles
================================================== */

.featured-project {
	margin-top: 70px;
	min-height: 200px;
}

.featured-project .button {
	margin-right: 20px;
}

.fancy-box {
	background: white;
	border: 1px solid #e9e9e9;	
	box-shadow: 0 0px 0 3px #e9e9e9;
	border-radius: 2px;	
}



/****** @ project card ******/ 


.m-card .section-container.tabs > section > .title a, .section-container.tabs > .section > .title a {
  font-size: 0.7em;
}


 .m-card .m-card-title {
  padding-top:0.5em; 
  padding-bottom:0.1em; 
  height: 70px; 
  }

  .m-card .m-card-title .columns {
  	display: table !important;
  	height: 70px;
  }

.m-card .m-card-title h5 {
	display: table-cell !important;
	line-height: 1.4em;
	vertical-align: middle !important;
	padding-bottom: 17px;
}

.m-card .card-floater {
	float: right;
}

.m-card {
	/*font-size: 0.9em;*/
	min-height: 420px;
	border-radius:  3px;
}

.m-card .card-abstract {
	min-height: 150px;

}
.m-card .card-abstract p {
		line-height: 1.4em;
}

.m-card .card-content {
	position: relative;
	}


.m-card .card-content p {
	
	margin-bottom: 15px;
}



.m-card .stageinfo {
	padding-bottom: 10px;
}



.m-card .icon-signal {
	margin-top: 9px;
	font-size: 1.2em;
	position: absolute;
	line-height: 0;	
	color: #444;
	left: 20px;
}


.icon-awesome {
	font-size: 1.1em;
}


.m-card{
  padding-left: 13px;
  padding-right: 13px;
}



.m-card .idea-info .icon-awesome,
.m-card .idea-info .general {
	float: right;
	margin-left: 10px;
	font-size: 1.2em;
	color:#444;
	
	
	
}

.m-card .subinfo {
	 position: absolute;
	bottom: 0px;
	width: 100%;
	padding-top: 13px;
	border-top: 1px solid #DDDDDD;
	padding-right: 11px;
  margin-top: 5px;
  margin-left: 2px;
  padding-bottom: 11px;

}

.subinfo  {
	background: #f9f9f7; 
    border-top: 2px solid #89B561; 
	display: block;
}


.m-card .idea-info hr {
	line-height: 0;
}

.card-summary p{
  font-size: 0.9em;
  margin-bottom: 10px;
}


.bottom-section {
	position: absolute;
	bottom: 0;
	width: 300px;
}
.ticket-profiles ul {
}

.ticket-profiles li {
	list-style-type: none;	
}

.meta-btns {
	position: absolute !important;
	
}
.meta-btns p {
	display: inline-block;
	
}


.ticket .profile-img {
	width: 24px;
	height: 24px;
	margin: 0;
	float: left;
}

.ticket-meta-icons {
	display: inline-block;
	line-height: 0;
	margin: 0;
}

.ticket-meta-icons li {
	display: inline-block;

}

.ticket-goto-details {
	padding: 19px 20px 20px 21px !important;
	margin: 0 !important;
	border: none !important; 
}

.ico-tiny-img,
.ico-tiny-video,
.ico-tiny-description,
.ico-tiny-attachment {
	width: 16px;
	height: 17px;	
	
}

.ico-tiny-img {
	background: url(img/ico-tiny-img.png) no-repeat;
}

.ico-tiny-video {
	background: url(img/ico-tiny-video.png) no-repeat;
}

.ico-tiny-description {
	background: url(img/ico-tiny-description.png) no-repeat;
}

.ico-tiny-attachment {
	background: url(img/ico-tiny-attachment.png) no-repeat;
}

.ticket-no-item {
		background-position: 0 -52px;
}
.ticket .meta_tags ul {
	margin: 0 0px;
}


.m-card .meta_tags ul li, .card-person .meta_tags ul li {
	display: inline-block;
	font-size: 0.9em;
}




	



.footer_links ul li {
	display: inline-block;

}
.footer_links ul li a {
	padding: 10px 20px;
	font-size: 0.8em;
}
.footer_links ul li a:hover {
	text-decoration: underline;

}




/* #IDEA PAGE
================================================== */

.title-field {
	margin: 15px 0;
}


.idea-details {
	margin-top: 40px;
	margin-bottom: 40px;
}

.idea-details .title-field h1 {
	font-size:1.6em;
	font-weight: 400;
	line-height: 1.2em;
  margin-top:5px;
  margin-bottom: 5px;
}

.idea-avatar {
	margin-bottom: 20px;
}

.idea-sidebar {
	background: #E5E8EE;
	overflow: hidden;
	margin-bottom: 8px;
	padding: 10px 0;
}


.idea-sidebar .panel,
.idea-panel {
background-color: #e5e8ee;
border: 1px solid #fff;

border-radius: 2px;
}

p.title-field
 {
	margin: 8px 0 25px 0;
	font-size: 0.8em;
	
}

h6.title-field {
	margin: 30px 0;
}



.idea-details .meta-field  p {
	display: inline;
	margin-right: 30px;
}


.idea-details .location {
	
	
	
}


.idea-details .languages {
	padding-top: 1.45em;
	padding-bottom: 1.45em;
	border-left: none;
	border-right: none;	
	background-color: #FFF;
}

.idea-details .languages p {
	font-size: 1.1em;
  /*font-weight: bold;*/
}

.languages ul li a{
  margin-bottom: 0;
}

.idea-details .pitch {
	font-style: italic;
	
}

.idea-sidebar .person-skills {
	display: block;
	margin: 10px 0 0 0;
}

.idea-sidebar .person-skills span {
	margin-bottom: 8px;
}





.idea-sidebar h6 {
	display: block;
	margin-top: 15px;
	
	font-weight: 400;
}

.idea-sidebar h7 {
	line-height: 1.2em;
}
.createidea .breadcrumbs {
	font-size: 0.85em;
}

.createidea .edit-floater {
	margin-top: 0;
}


.createidea .breadcrumbs li:first-child:before {
	content: " ";	
}
.createidea .breadcrumbs li:before {
    color: #888;
    content: ">>";    
    position: relative;
    top: 1px;
}
/*
.createidea label {
	font-weight: 600;
}

/*
.createidea span:first-child {
	color: #89B561 !important;
	font-size: 1em;
}*/

.createidea #tweetCount {
	margin-top: 5px;
	background: #f9f9f7;
	display: inline;
	padding: 3px 8px;
	border: 1px solid #ddd;
	
	border-radius: 6px;
	float: left;
}

.createidea #tweetCount.alert{
  background-color: #BD3438;
  color:#FFF !important;
}

/* ==========================================================================
  @ PROFILE page
   ========================================================================== */


.profile-wrap {
	
}

.profile .card-floater a.button {
	margin: 0;
}


/****** @ profile box ******/

.profile p {
	margin-bottom: 0.25em;
}
.profile .card-floater .button {
	margin-top: 0.875em;
}


.side .edit-content-title {
   
}

.side .edit-content-title h1 {
	margin:25px 0 0.4em 0;
	padding: 10px 0 0;

}


.side .contact-me {
	
	text-align: center;
	border-radius:  0 0 3px 3px;
}


.person-details .card-person {
	
	box-shadow: 0 0 0 1px #fff, 0 0 0 2px #ccc;

}

.person-details .card-person-title {
	
	line-height: 1.3em;
	font-size: 1em;
	text-transform: lowercase;
	font-weight: bold;
	margin: 0 -13px 0 -13px;
	padding: 4px 10px;
	
	
	border-radius: 3px;	
	border: none;	
}

.idea-list.m-card {
	min-height: auto !important;
	height: auto !important;
}



.person-details h3.card-person-title {
	
	background: #444; /* Old browsers */
background: -moz-linear-gradient(top,  #444 0%, #3f3f3f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#3f3f3f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #444 0%,#3f3f3f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #444 0%,#3f3f3f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #444 0%,#3f3f3f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #444 0%,#3f3f3f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#3f3f3f',GradientType=0 ); /* IE6-9 */

	 
    text-shadow: 1px 1px rgba(0,0,0, 0.5);
}





.lbf1 {
    float: right;
    width: 47.5%;
}







/* #MY PROJECT PAGE
================================================== */

.project-title {
	
	
	margin-top: -10px;
}

.myprojects .edit-header {

}

.myprojects .edit-content.middle  {
  margin-bottom: -1px;
  padding-top: 2px;
  padding-bottom: 10px;
  
  border-radius: 0;
}



.myprojects .edit-content .idea-panel h5 {
	font-weight: 100;
	line-height: 1.2em;
	margin-bottom: 30px;
	color: inherit;
}

.myprojects .edit-content .idea-panel a h5 {
	color: inherit;
}


.myprojects .edit-content .edit-floater {
	padding: 10px 10px 0 20px;	
	
}

.myprojects .edit-content p {
	margin-bottom: 0.5em;
}





/* #EDIT IDEA PAGE
================================================== */
.formidea label {
	margin-top: 50px;
	margin-bottom: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
.formidea label:first-child {
	margin-top: 0px;
}


textarea#IdeaTranslation_pitch {
	min-height: 100px;
}

textarea#IdeaTranslation_description {
	min-height: 350px;
}



.description{
  color:#888; 
  font-size: 0.8em; 
  font-style: italic;
  display: block;
  margin: 5px 0; 

}

label{
  /*font-weight: bold;*/
}

/*
.page-navigation ul {
  padding:8px 12px;
	background-color: #fff;
	border-radius: 10px;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #bbbbbb, 0 0 0 3px #ddd, 0 0 0 4px #ddd;  
  margin-bottom: 10px;
}
*/

.page-navigation ul{
  list-style: none;
  margin-bottom: 0;
}

.skillList span{
  line-height: 1.2em;
  margin-bottom: 10px;
}


.flashes{
  z-index: 1;
  position: fixed;
  width:100%;
  max-width:62.5em; /* not cool on mobile */
}

.flashes .alert-box{
  margin-bottom: 0px;
  margin-top: 5px;
}

/* ==========================================================================
   $ LAYOUTS
   ========================================================================== */

	.l-block {
		display: block !important;
	}

	.l-iblock {
		display: inline-block !important;
	}
	.l-inline {
		display: inline !important;
	}

/* ==========================================================================
   $ Typography
   ========================================================================== */

	.font-black {
		font-weight: 900;
	}	

	.jobs p {
		font-size:12px;
	}



/* ==========================================================================
  $ MODULES
   ========================================================================== */

	/****** @ panel-top ******/

	.panel-top {   
    background: #F9F9F7;  
    margin-top: 0;   
    padding: 1.25em;
}

	


	/****** @ main panel ******/


	.main > .columns > .panel,
	.main > .panel {
		background: #fff;

		
	}




	/****** @ panel-avatar ******/
	.panel .panel-avatar {
    width: 150px;
    margin: 10px 10px 10px 0;

    }


/****** $ footer sticky hack ******/


html, body {
	height: 100%;
}


.container {
  min-height: 100%;
  /* equal to footer height */
	margin-bottom: -108px; 
}
.container:after {
  content: "";
  display: block;
}
.footer, .container:after {
  /* .push must be the same height as footer */
	height: 108px; 
}

.supporters {
  /*height:50px;*/
  margin:20px 30px;
  max-height: 80px;
}
   

 /* Wrapword */
.wrapword {
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}

@media only screen and (max-width: 767px) {
  
 .top-bar-holder {
    box-shadow: none !important;
    padding-top: 5px;
  }



.footer ul.social-links {
    display: inline-block;
    float: none;
    height: 44px;
    margin: 0 0 20px;
    text-align: center;
}



  .footer .logo-mini {
    margin: 0 auto;
      display: block;
  }

  .footer ul.footer-links {
      display: inline-block;
       margin: 16px 0 10px;
      margin: 0;
      padding-bottom: 30px;
  }

}