/*#intro{
	background:url(../images/intro-bg.jpg) 50% 0  fixed;
	margin: 0 auto;
	padding: 0;
}

#outro{
	background:url(../images/outro-bg.jpg) 50% 0  fixed;
	margin: 0 auto;
	padding: 0;
}*/


.header{
  
}

.header h1{
  margin:10px 0px !important;
  color:#666;
}

.header .logo{
  vertical-align: middle; 
  height:100px;  
  margin-right: 10px;
}

.top-bar-holder{
  background: none repeat scroll 0 0 #111111; 
  border-bottom: 1px solid #666; 
  box-shadow:0 2px 2px 0px rgba(0, 0, 0, .25); 
}

.top-bar-avatar{
  float:left;
  margin-top:8px; 
  height:30px; 
  margin-right: 10px;
}

.top-bar-person{
  float:left; 
  line-height:26px;
}

.footer{
  padding-bottom:50px; 
  margin-top:40px;
  padding-top:20px;
  /*border-top: 1px solid #999; */
  box-shadow:0 -2px 2px 0px rgba(0, 0, 0, .15);
  background-color: #EEE;
}
.footer-links .inline-list{
  float:right;
}


.intro{
  background-image: url(../images/intro-bg1.jpg); 
  background-repeat: no-repeat; 
  background-size: 100% 100%; 
  margin-bottom: 30px;
  border-bottom: 1px solid #999;
  
}

.intro h1{
  color:#DDD !important;
  text-shadow: 0px 1px rgba(0,0,0,.3);
  font-size:2.6em;
}

.intro h1 span{
  color:#83B25B;
}

.intro p{
  text-align:justify ; 
  font-weight: 600; 
  color:#333; 
  text-shadow: 0px 1px rgba(255,255,255,0.1);
}

.intro .close{
  position:absolute; 
  right:40px; 
  bottom:15px;
  font-size: 20px;
  color: #383E3C;
  text-shadow: 1px 1px rgba(0,0,0,0.3),
}

.intro .button {
margin-left: 10px;
}

.intro .close:hover{
  text-shadow: 0px 1px 2px #777, -1px -1px 1px #111;
}


.profile-info{
  /*margin-top:20px;*/
  margin-bottom:15px;
  color:#666;
  font-size: 12px;
}

.profile-info .progress{
  margin-top: 5px;
}

.top-bar{
  margin-bottom: 0px; 
  z-index: 10;
}


.login-form .row{
  margin-bottom: 5px;
  
}
.login-form .row.submit{
  margin-bottom:10px;
  text-align: right;
}

.card-idea {
	min-height: 400px !important;
	max-height: 400px !important;
}

.card-person, .card-idea, .sidebar {
  /*margin-right:0.9375em; */
  padding-top: 0;
  background-color: #FFF;
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px #bbbbbb, 0 0 0 3px #ddd;
}

sidebar .section-container section,
sidebar .section-container .section,
sidebar .section-container.auto section,
sidebar .section-container.auto .section {
	border: none;
}

sidebar  .content {

 padding: 0 !important
}


.sidebar {	
	border-radius: 3px;
	border-top: none;
}


.sidebar section  a,
.sidebar .active  a {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
}

.ideas-aside-new{
  /*text-align: center;*/
}

.sidebar .ideas-aside a {
	
	display: block;
	padding: 10px 0 0 10px;
	height: 60px;
}
.sidebar .ideas-aside a small {
	display: block !important;

}

.sidebar .ideas-aside a .meta {
	font-size: 0.7em;
	padding-top: 10px;
}


.edit-header{
  background-color: #ddd;
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px #bbbbbb, 0 0 0 3px #ddd;
}

.edit-content{
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px #bbbbbb, 0 0 0 3px #ddd;
  margin-bottom: 20px;
}

.edit-floater{
  float:right;
  margin-top:15px;
}

.card-person hr, .card-idea hr{
  margin-top:5px;
  margin-bottom:0.9375em;
}

.card-person p, .card-idea p{
  margin-top:5px;
  margin-bottom:5px;
}

.card-person-title, .card-idea-title{
  padding-top:0.9375em; 
  padding-bottom:0.9375em; 
  margin-bottom: 0.9375em !important;
  border-bottom:1px solid #ddd; 
  background-color:#f6f6fa;
  }

div[onclick].panel,
div[onclick].card-person-title, div[onclick].card-idea-title{
  cursor: pointer;
}

.card-idea-title small {
	margin-top: 5px;
}

.login-floater{
  float:right;
}

.card-floater{
  float:right; 
  border-left: 1px solid #ddd; 
  padding-left: 12px; 
  font-size: 12px;
}

.card-avatar, .card-icons{
  height:20px; 
  margin-right:5px;
}

.card-icons{
  float:right;
}




/* #Special Styles
================================================== */
.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.no-bg {

}
.tiny-text {
	font-size: 11px;
}
.small-text {
	font-size: 12px;
}

.meta {
		color: #87878e;
}

.meta-title {
	color: #83b25b !important;
	text-transform: uppercase;	
}

.panel .meta-title  {
	text-shadow: -1px 1px #fff;

}

.heart {
	font-size: 1.8em;
	color: #e6a8ac; 
}

.heart-favorited,
.heart:hover,
.heart:active {
	color: #e54d51;

}

/* #Page Styles
================================================== */

body {background: #f9f5f2;}



/* #Search Styles
================================================== */
.filter-box {
	margin: 20px auto;
	background: #dde6f4 !important;
	border: 1px solid #e9e9e9

}

.filter-toggle {
	margin-bottom: 20px;
	height: 10px;
	font-size: 12px;

}
.filter-box  h3 {
	font-size: 1.2em;
	padding:7px 0 0 5px;
	margin-bottom: 10px;	
	background: #fff;
	

}
.filter-header {
	line-height: 30px;
	margin-bottom: 10px !important;


}

.filter-box .search-box {
	margin-right: 5px;
}

.filter-tickets li {
 list-style-type: none;
}


.filter-keywords .search-box,
.filter-locations .search-box {
	width: 150px !important;
}


/* #Pagin Styles
================================================== */
.paginRight {
	 float: right;
    line-height: 35px;
}
.sortby,
.e_sortby {
	display: inline-block;	
}
.e_sortBy {
	width: inherit;
}

/* #Ticket Styles
================================================== */

.featured-project {
	margin-top: 70px;
	min-height: 200px;
}

.featured-project .button {
	margin-right: 20px;
}

.fancy-box {
	background: white;
	border: 1px solid #e9e9e9;	
	box-shadow: 0 0px 0 3px #e9e9e9;
	border-radius: 2px;	
}

.fancy-box:hover {
	box-shadow: 0 0px 0 3px #cdcdcd;
	border: 1px solid #fff;	
	-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;

}

.ticket {	
margin: 10px 0; 
min-height: 380px;
	
}

.ticket .basic_info {
	background: #f6f6fa;
	border: 1px solid #fff;

}

/*.card-idea
 {
	font-size: 14px;	
	display: block;
	line-height: 21px;
}
*/


.card-summary  {
	/*font-size: 0.9em;*/
	height: 200px;
  overflow: auto;
}

.card-summary p{
  font-size: 0.9em;
  margin-bottom: 10px;
}

.ticket-skills {
	margin: 0 10px;
	text-transform: uppercase;
	
}

.ticket-skills li {
	display: inline-block;
	list-style-type: none;
}


.bottom-section {
	position: absolute;
	bottom: 0;
	width: 300px;
}
.ticket-profiles ul {
}

.ticket-profiles li {
	list-style-type: none;	
}

.meta-btns {
	position: absolute !important;
	
}
.meta-btns p {
	display: inline-block;
	
}


.ticket .profile-img {
	width: 24px;
	height: 24px;
	margin: 0;
	float: left;
}

.ticket-meta-icons {
	display: inline-block;
	line-height: 0;
	margin: 0;
}

.ticket-meta-icons li {
	display: inline-block;

}

.ticket-goto-details {
	padding: 19px 20px 20px 21px !important;
	margin: 0 !important;
	border: none !important; 
}

.ico-tiny-img,
.ico-tiny-video,
.ico-tiny-description,
.ico-tiny-attachment {
	width: 16px;
	height: 17px;	
	/*border-right: 1px solid #e9e9e9;*/
}

.ico-tiny-img {
	background: url(img/ico-tiny-img.png) no-repeat;
}

.ico-tiny-video {
	background: url(img/ico-tiny-video.png) no-repeat;
}

.ico-tiny-description {
	background: url(img/ico-tiny-description.png) no-repeat;
}

.ico-tiny-attachment {
	background: url(img/ico-tiny-attachment.png) no-repeat;
}

.ticket-no-item {
		background-position: 0 -52px;
}
.ticket .meta_tags ul {
	margin: 0 0px;
}

.card-idea .meta_tags,.card-person .meta_tags {	
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "tahoma", "arial", sans-serif;

}
.card-idea .meta_tags ul li, .card-person .meta_tags ul li {
	display: inline-block;
	font-size: 12px;
}







.footer_links ul li {
	display: inline-block;

}
.footer_links ul li a {
	padding: 10px 20px;
	font-size: 12px;
}
.footer_links ul li a:hover {
	text-decoration: underline;

}

