body{
  /*font-size:120%;*/
}


/* #   JQUERY  UI-lib
================================================== */


.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
  height: 200px;
}



/* #   $foundation overrides & fixes
================================================== */

body, h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
  font-weight: normal;
}


.top-bar-holder{
  background: none repeat scroll 0 0 #111111; 
  border-bottom: 1px solid #000; 
  box-shadow:0 2px 2px 0px rgba(0, 0, 0, .25); 
  border-top: 1px solid #333;
}

.top-bar-avatar{
  float:left;
  margin-top:6px; 
  height:34px; 
  margin-right: 10px;

  border:1px solid #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.top-bar-person{
  float:left; 
  line-height:26px;
  color:#222 !important; /* hide  link style */
}


  .top-bar-section .dropdown li  a:hover     {
    background: #f0f0f0;
  }

 
 .top-bar-section .dropdown li a.altli  {
  background: #f0f0f0;
 }

.top-bar-section .dropdown li a.altli:hover {
  background: #ddd;
}

 .top-bar-section .dropdown li a .general,
 .top-bar-section .dropdown li a .icon-user,
 .top-bar-section .dropdown li a .icon-lightbulb,
 .top-bar-section .dropdown li a .icon-plus,
 .top-bar-section .dropdown li a .icon-wrench {
  position: absolute;
  left: 13px;
  line-height: 1.6em;
  color:#444;
  margin-top: 4px;
  /*line-height: 2.3em;*/
 }

 .top-bar-section .dropdown li a .icon-lightbulb {
  font-size: 1.4em;
  margin-top: 0;
 }


      .top-bar,
.top-bar-holder,
.top-bar-section li a:not(.button) {
  background: #fff;
  box-shadow: none; 
}

.top-bar-section > ul > .divider {
    border-color: -moz-use-text-color #ddd -moz-use-text-color #fff; 
 }

.top-bar-holder {
  border-bottom: 1px solid #bbb;
  box-shadow: 0 -1px 0 2px #ddd;
}

.section-container section, .section-container .section, .section-container.auto section, .section-container.auto .section {
    border-bottom: 1px solid #ddd;
    border-top: none;
    position: relative;
}

.section-container > section > .title, .section-container > .section > .title, .section-container.auto > section > .title, .section-container.auto > .section > .title {
  border-top: none;
}

.top-bar-section ul li > a {
  color: #221E1D;
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p {
    
    font-weight: 100;
}

.panel .label { font-weight: bold;}

 .section-container section.active .title,
    .section-container .section.active .title, .section-container.auto section.active .title,
    .section-container.auto .section.active .title {
      background: #ddd; }



/* Progress Bar */
.progress {
  background-color: transparent;
  height: 1.5625em;
  border: 1px solid #cccccc;
  padding: 0.125em;
  margin-bottom: 0.625em; }
  .progress .meter {
    background: #4469a6;
  background: -moz-linear-gradient(top, #5e9be5 0%, #4469a6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e9be5), color-stop(100%,#4469a6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5e9be5 0%,#4469a6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5e9be5 0%,#4469a6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #5e9be5 0%,#4469a6 100%); /* IE10+ */
  background: linear-gradient(to bottom, #5e9be5 0%,#4469a6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e9be5', endColorstr='#4469a6',GradientType=0 ); /* IE6-9 */
    height: 100%;
    display: block; }
  .progress.secondary .meter {
    background: #e9e9e9; 
  background: -moz-linear-gradient(top, #ffffff 0%, #e9e9e9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#e9e9e9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#e9e9e9 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#e9e9e9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
    height: 100%;
    display: block; }
  .progress.success .meter {
    background: #89b561;
  background: -moz-linear-gradient(top, #b2ea8a 0%, #89b561 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2ea8a), color-stop(100%,#89b561)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b2ea8a 0%,#89b561 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b2ea8a 0%,#89b561 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b2ea8a 0%,#89b561 100%); /* IE10+ */
  background: linear-gradient(to bottom, #b2ea8a 0%,#89b561 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2ea8a', endColorstr='#89b561',GradientType=0 ); /* IE6-9 */
    height: 100%;
    display: block; }
  .progress.alert .meter {
    background: #cd3438;  
background: -moz-linear-gradient(top, #ff7072 0%, #cd3438 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7072), color-stop(100%,#cd3438)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff7072 0%,#cd3438 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff7072 0%,#cd3438 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff7072 0%,#cd3438 100%); /* IE10+ */
background: linear-gradient(to bottom, #ff7072 0%,#cd3438 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7072', endColorstr='#cd3438',GradientType=0 ); /* IE6-9 */
    height: 100%;
    display: block; }
  .progress.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .progress.radius .meter {
      -webkit-border-radius: 2px;
      border-radius: 2px; }
  .progress.round {
    -webkit-border-radius: 1000px;
    border-radius: 1000px; }
    .progress.round .meter {
      -webkit-border-radius: 999px;
      border-radius: 999px; }




/* ==========================================================================
  @ edit profile
   ========================================================================== */

.alert-box {
  font-weight: normal;
  padding: 15px 10px;
  color: #134C5B;
  text-shadow: 1px 1px rgba(255,255,255,0.2);
}

.alert-box a {
  color: #fff;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.alert-box .action {}

.alert-box .close {
  margin-top: 0px;
 color: rgba(0,0,0,0.6) !important;
}

.alert-box .close:hover {
   color: rgba(0,0,0,0.8) !important;
}


.alert-box.success {
  /*color: ;*/
}

.alert-box.alert {
  background-color: #A83C3C;
  text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.errorSummary .alert-box ul{
  list-style: none;
  margin-bottom: 0;
}



a { color: #4469a6;}
a:hover, a:focus { color: #3c76d6; }


.label{
	background-color: #8CA1C6;
	/*box-shadow: 0 1px 0 0px #6d83a9;*/
	color: #fff;
  padding: 0.4em 0.6em 0.4em;
}


.button{
  -webkit-box-shadow:none;
}

button, .button {
  background-color: #4469a6;
  border-color: #355282;
  box-shadow:none;
}
button:hover, button:focus, .button:hover, .button:focus { background-color: #355282; }
button.success, .button.success {
    background-color: #89b561;
    border-color: #6a9446; 
}
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus { background-color: #6a9446; }
button.alert, .button.alert {
    background-color: #A83C3C;
    border-color: #a5292c;
}
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus { background-color: #a5292c; }
button.disabled, button[disabled], .button.disabled, .button[disabled] {
    background-color: #4469a6;
    border-color: #355282;
}
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
      background-color: #355282; }
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
      background-color: #4469a6; }
button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success {
      background-color: #89b561;
      border-color: #6a9446;
}
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
        background-color: #6a9446; }
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
        background-color: #89b561; }
button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
      background-color: #A83C3C;
      border-color: #a5292c;}
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
        background-color: #a5292c; }
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
        background-color: #A83C3C; }



form.custom .custom.checkbox.checked:before{
  /*margin-top: 1px;*/
}



.top-bar-section li.desc a{
  line-height: 30px;
  height:45px;
}
.top-bar-section li.desc small{
  line-height:0px;
  margin-top:-10px; 
  color:#999;
}
.top-bar-section > ul > .divider{
  border-color: #ddd;
  border-left: none;
  border-top: none;
}
.top-bar { background: #fff; }
.top-bar .name h1 a { color: #222;}
.top-bar .toggle-topbar a { color: #222; }
.top-bar .toggle-topbar.menu-icon a { color: #222; }
.top-bar.expanded .title-area { background: #fff; }
.top-bar-section ul li > a { 
  color: #222; 
  background: #333333;
  height: 45px;
}
.top-bar-section ul li > a:hover { background: #f0f0f0; }
.top-bar-section ul li.active a, .top-bar-section ul li.hover > a { background: #f0f0f0; color:#222; }
.top-bar-section .has-dropdown > a:after { border-color: transparent transparent transparent rgba(0, 0, 0, 0.5); }
.top-bar-section .dropdown { box-shadow: 0 4px 4px rgba(0,0,0,0.3); }
.top-bar-section .dropdown li a { border-top: 1px solid #ddd; line-height: 2em; padding-left: 40px; height: 40px; }
.top-bar-section .dropdown li.title h5 a { color: #222; }
.top-bar-section ul{ background: #fff; }
.top-bar-section ul li > a{}
.top-bar-section li.desc a{ padding-top: 2px; }

.top-bar .toggle-topbar.menu-icon a span{  box-shadow: 0 10px 0 1px #666, 0 16px 0 1px #666, 0 22px 0 1px #666; }


@media only screen and (min-width: 58.75em) {
  .top-bar {  background: #fff; }
  .top-bar.expanded { background: #fff; }
  .top-bar-section li a:not(.button) { background: #fff; color:#222; }
  .top-bar-section li a:not(.button):hover { color: #222; }
  .top-bar-section .has-dropdown > a:after { border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent; }
  .top-bar-section .dropdown li a { color: #222; }
  .top-bar-section ul{ background: #fff; }
}

.progress.success .meter { background: #89b561; }
.progress.alert .meter { background: #A83C3C; }


.tooltip  {
  box-shadow: 0 0 0 1px #fff, 0 0 2px #87878e,  0 0 3px 3px rgba(0,0,0,0.3);
  background: #f8f8fb;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #666;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
  /*font-weight: normal !important;*/
  font-size: 0.8em;
}

.tooltip > .nub{
  display: block;
  left: 5px;
  position: absolute;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: transparent transparent #f8f8fb transparent;
  top: -10px; 
}





/* #   CUSTOM DROPDOWN
================================================== */


.chzn-container{
  margin-bottom: 1.25em;
  border:1px solid #CCCCCC;
  background: linear-gradient(to bottom, #FFFFFF 0%, #F3F3F3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  box-shadow:none;
  height:2.3125em;
  width:100%;
}

.chzn-container .chzn-drop{
  border-color:#CCC;
}
.chzn-container-single .chzn-single{
  line-height: 2.25em;
  box-shadow:none;
}

.chzn-container-single .chzn-single, .chzn-container-active.chzn-with-drop .chzn-single{
  border:none;
  background:none;
  
}

.chzn-container .chzn-results li.highlighted{
  background-color:#E4E4E4;
  color:#000;
  background-image:none;
}

.searchpanel .search_content{
  color:#555555;
}

form.custom .custom.dropdown{
  display:none;
}


/* #   IMAGE UPLOAD BUTTON
================================================== */

.qq-upload-button {
	transition: 0.5s;
	/*border: 2px solid #ddd;*/
	box-shadow: none;
  /*width:140px;*/
  
	border: none; 
  width: 100%;
	background: #fff;
  
}
.qq-upload-button:hover {
	/*border: 2px solid #999;*/
}

.avatar {
  transition: 0.5s;
	border: 1px dashed #bbb;	
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	width: 100%;
}

.qq-upload-button-hover .avatar{
  border: 1px solid #bbb;
}


.avatar-change {
	/*padding: 10px 0;
	color: #888;
	background: #F6F6FA;
	border: 1px solid #fff;
  padding:3px 0;*/
  
  width: 100%;
	margin-top: 0px;
	border-radius: 0 0 3px 3px;
  margin-bottom: 0px;
}
  
.avatar-loading{
  display: none;
  position: absolute;
  right: 3px;
  top: 5px;
}


.avatar-drop-area span {
	margin-top: 10px;
	font-size: 1em;
}


.qq-upload-drop-area{
  background-color:#89B561;
  /*background: #fff;*/
	
	font-size: 0.875em;
	border: 1px dashed #999;
	border-radius: 3px;
  color:#FFF;
  font-weight: bold;
}

.qq-uploader{
  /*width:140px;*/
}

.qq-uploader:click {
	outline: 0;
}


/*.avatar-button{
  width:140px !important;
  padding: 0 !important;
  background-color: #666 !important;
}*/


/* Tables */
table {
  background: white;
  margin-bottom: 0;
  border: none; }
 
  table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: inherit; }
