body{
  /*font-size:120%;*/
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
  height: 200px;
}

.errorSummary .alert-box ul{
  list-style: none;
  margin-bottom: 0;
}



a { color: #4469a6;}
a:hover, a:focus { color: #3c76d6; }


.label{
	background-color: #8CA1C6;
	/*box-shadow: 0 1px 0 0px #6d83a9;*/
	color: #fff;
}


.button{
  -webkit-box-shadow:none;
}

button, .button {
  background-color: #4469a6;
  border-color: #355282;
  box-shadow:none;
}
button:hover, button:focus, .button:hover, .button:focus { background-color: #355282; }
button.success, .button.success {
    background-color: #89b561;
    border-color: #6a9446; 
}
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus { background-color: #6a9446; }
button.alert, .button.alert {
    background-color: #cd3438;
    border-color: #a5292c;
}
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus { background-color: #a5292c; }
button.disabled, button[disabled], .button.disabled, .button[disabled] {
    background-color: #4469a6;
    border-color: #355282;
}
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
      background-color: #355282; }
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
      background-color: #4469a6; }
button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success {
      background-color: #89b561;
      border-color: #6a9446;
}
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
        background-color: #6a9446; }
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
        background-color: #89b561; }
button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
      background-color: #cd3438;
      border-color: #a5292c;}
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
        background-color: #a5292c; }
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
        background-color: #cd3438; }



form.custom .custom.checkbox.checked:before{
  /*margin-top: 1px;*/
}



.top-bar-section li.desc a{
  line-height: 30px;
  height:45px;
}
.top-bar-section li.desc small{
  line-height:0px;
  margin-top:-10px; 
  color:#999;
}
.top-bar-section > ul > .divider{
  border-color: #ddd;
  border-left: none;
  border-top: none;
}
.top-bar { background: #fff; }
.top-bar .name h1 a { color: #222;}
.top-bar .toggle-topbar a { color: #222; }
.top-bar .toggle-topbar.menu-icon a { color: #222; }
.top-bar.expanded .title-area { background: #fff; }
.top-bar-section ul li > a { 
  color: #222; 
  background: #333333;
  height: 45px;
}
.top-bar-section ul li > a:hover { background: #f0f0f0; }
.top-bar-section ul li.active a, .top-bar-section ul li.hover > a { background: #f0f0f0; color:#222; }
.top-bar-section .has-dropdown > a:after { border-color: transparent transparent transparent rgba(0, 0, 0, 0.5); }
.top-bar-section .dropdown { box-shadow: 0 4px 4px rgba(0,0,0,0.3); }
.top-bar-section .dropdown li a { border-top: 1px solid #ddd; line-height: 1.6em; }
.top-bar-section .dropdown li.title h5 a { color: #222; }
.top-bar-section ul{ background: #fff; }
.top-bar-section ul li > a{}
.top-bar-section li.desc a{ padding-top: 2px; }

.top-bar .toggle-topbar.menu-icon a span{  box-shadow: 0 10px 0 1px #666, 0 16px 0 1px #666, 0 22px 0 1px #666; }


@media only screen and (min-width: 58.75em) {
  .top-bar {  background: #fff; }
  .top-bar.expanded { background: #fff; }
  .top-bar-section li a:not(.button) { background: #fff; color:#222; }
  .top-bar-section li a:not(.button):hover { color: #222; }
  .top-bar-section .has-dropdown > a:after { border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent; }
  .top-bar-section .dropdown li a { color: #222; }
  .top-bar-section ul{ background: #fff; }
}

.progress.success .meter { background: #89b561; }
.progress.alert .meter { background: #cd3438; }


.tooltip  {
  box-shadow: 0 0 0 1px #fff, 0 0 2px #87878e,  0 0 3px 3px rgba(0,0,0,0.3);
  background: #f8f8fb;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #666;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
  /*font-weight: normal !important;*/
  font-size: 0.8em;
}

.tooltip > .nub{
  display: block;
  left: 5px;
  position: absolute;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: transparent transparent #f8f8fb transparent;
  top: -10px; 
}

.chzn-container{
  margin-bottom: 1.25em;
  border:1px solid #CCCCCC;
  background: linear-gradient(to bottom, #FFFFFF 0%, #F3F3F3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  box-shadow:none;
  height:2.3125em;
  width:100%;
}

.chzn-container .chzn-drop{
  border-color:#CCC;
}
.chzn-container-single .chzn-single{
  line-height: 2.25em;
  box-shadow:none;
}

.chzn-container-single .chzn-single, .chzn-container-active.chzn-with-drop .chzn-single{
  border:none;
  background:none;
  
}

.chzn-container .chzn-results li.highlighted{
  background-color:#E4E4E4;
  color:#000;
  background-image:none;
}

.searchpanel .search_content{
  color:#555555;
}

form.custom .custom.dropdown{
  display:none;
}