#Netbeans project
/nbproject/private/

#VIM swap files
*.swp

#Eclipse
.buildpath
.project
.settings

#ignore folders
#assets/
#protected/runtime/
protected/tests/report/
uploads/
temp/
protected/data/backup/

protected/config/local-db.php
protected/config/local-path.php
protected/config/local-mail.php
/protected/config/local-console-request.php
